/*
 
  dP""b8 88   88 .dP"Y8 888888  dP"Yb  8b    d8     88""Yb 88""Yb  dP"Yb  88""Yb 88 888888 88""Yb 888888 88 888888 .dP"Y8 
 dP   `" 88   88 `Ybo."   88   dP   Yb 88b  d88     88__dP 88__dP dP   Yb 88__dP 88 88__   88__dP   88   88 88__   `Ybo." 
 Yb      Y8   8P o.`Y8b   88   Yb   dP 88YbdP88     88"""  88"Yb  Yb   dP 88"""  88 88""   88"Yb    88   88 88""   o.`Y8b 
  YboodP `YbodP' 8bodP'   88    YbodP  88 YY 88     88     88  Yb  YbodP  88     88 888888 88  Yb   88   88 888888 8bodP' 
 
*/
:root {
    /* Colores */
    --primario       : #C2185B; 
    --secundario     : #FFC107;
    --primarioObscuro: rgb(156, 10, 69);
    --titulo         : #FFFFFF;
    --borde          : #e1e1e1;
    --negro          : #000000;
    --fondoCorrecto  : rgb(179,241,117);
    --textoCorrecto  : rgb(0,128,0);
    --fondoError     : rgb(238,148,166);
    --textoError     : rgb(163,0,33);


    /* Fuentes */
    --fuentePrimaria  : 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: 'Poppins',sans-serif;

/*
 
  dP""b8 888888 88b 88 888888 88""Yb    db    88     888888 .dP"Y8 
 dP   `" 88__   88Yb88 88__   88__dP   dPYb   88     88__   `Ybo." 
 Yb  "88 88""   88 Y88 88""   88"Yb   dP__Yb  88  .o 88""   o.`Y8b 
  YboodP 888888 88  Y8 888888 88  Yb dP""""Yb 88ood8 888888 8bodP' 
 
*/
}
html {
    box-sizing: border-box;
    font-family: var(--fuentePrimaria);
}
 
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
}
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
.bg-amarillo {
    background-color: var(--secundario);
}
.bg-blanco {
    background-color: var(--titulo);
}
.barra {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.sombra {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow   : 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow        : 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius     : 10px;
}
h1,h2 {
    font-family: var(--fuenteSecundaria);
    margin: 0;
    text-align: center;
}
h1 {
    color: var(--titulo);
    padding: 20px;
}
h2 {
    color: var(--primario);
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
}
.contenedor-barra {
    background-color: var(--primarioObscuro);
}
/*
 88""Yb  dP"Yb  888888  dP"Yb  88b 88 888888 .dP"Y8 
 88__dP dP   Yb   88   dP   Yb 88Yb88 88__   `Ybo." 
 88""Yb Yb   dP   88   Yb   dP 88 Y88 88""   o.`Y8b 
 88oodP  YbodP    88    YbodP  88  Y8 888888 8bodP' 
*/
.btn {
    font-size: 2rem;
    text-decoration: none;
}

.btn-editar {
    color: var(--secundario);
}

.btn-borrar {
    color: var(--primario);
}

.volver {
    background-color: var(--secundario);
    border-radius: 5px;
    color: var(--negro);
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
    text-align: center;
}

/*
 
 888888  dP"Yb  88""Yb 8b    d8 88   88 88        db    88""Yb 88  dP"Yb  
 88__   dP   Yb 88__dP 88b  d88 88   88 88       dPYb   88__dP 88 dP   Yb 
 88""   Yb   dP 88"Yb  88YbdP88 Y8   8P 88  .o  dP__Yb  88"Yb  88 Yb   dP 
 88      YbodP  88  Yb 88 YY 88 `YbodP' 88ood8 dP""""Yb 88  Yb 88  YbodP  
 
*/
form {
    margin-top: 2rem;
    padding: 3rem;
}
form legend {
    display: block;
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    text-align: center;
}

form span {
    clear: both;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
@media only screen and (min-width:768px) {
    .campos {
        display: flex;
        justify-content: space-between;
    }

    .campo {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.campo {
    padding: .5rem 0;
}
.campo label {
    font-size: 1.2rem;
}
.campo input[type="text"],
.campo input[type="tel"] {
    border: none;
    font-size: 1.2rem;
    height: 3rem;
    margin-top: .5rem;
    padding: .5rem;
    width: 100%;
}
.enviar {
    display: flex;
    justify-content: flex-end;
}
.campo input[type="submit"] {
    background-color: var(--primario);
    border: none;
    color: var(--titulo);
    flex: 1;
    font-size: 1.2rem;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: background-color .6s ease-in-out;
}
.campo input[type="submit"]:hover {
    background-color: var(--primarioObscuro);
    cursor: pointer;
}
@media only screen and (min-width:768px) {
   .campo input[type="submit"] {
      flex: 0 0 auto;
   }
}

/*
 
 88     88 .dP"Y8 888888    db        8888b.  888888      dP""b8  dP"Yb  88b 88 888888    db     dP""b8 888888  dP"Yb  .dP"Y8 
 88     88 `Ybo."   88     dPYb        8I  Yb 88__       dP   `" dP   Yb 88Yb88   88     dPYb   dP   `"   88   dP   Yb `Ybo." 
 88  .o 88 o.`Y8b   88    dP__Yb       8I  dY 88""       Yb      Yb   dP 88 Y88   88    dP__Yb  Yb        88   Yb   dP o.`Y8b 
 88ood8 88 8bodP'   88   dP""""Yb     8888Y"  888888      YboodP  YbodP  88  Y8   88   dP""""Yb  YboodP   88    YbodP  8bodP' 
 
*/

.contactos {
    margin-top: 3rem;
    padding: 2rem;
}
.contenedor-contactos {
    margin: 4rem auto 0 auto;
    max-width: 800px;
}
.total-contactos {
    color: var(--primario);
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}
.total-contactos span {
    font-size: 3rem;
    font-weight: 900;
}
.buscador {
    border: 1px solid var(--borde);
    height: 3rem;
    margin: 2rem 0;
    padding: 1rem;
    width: 100%;
}
.contenedor-tabla {
    overflow: scroll;
}
.listado-contactos {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
}
.listado-contactos thead {
    background-color: var(--primario);
    color: var(--titulo);
    text-transform: uppercase;
}
.listado-contactos thead th {
    padding: 1rem 0;
}
.listado-contactos tbody td {
    padding: .5rem;
}
.listado-contactos tbody td:nth-child(4) {
    text-align: center;
}
.listado-contactos button {
    background-color: transparent!important;
    border:none;
}
/*
 
 88b 88  dP"Yb  888888 88 888888 88  dP""b8    db     dP""b8 88  dP"Yb  88b 88 888888 .dP"Y8 
 88Yb88 dP   Yb   88   88 88__   88 dP   `"   dPYb   dP   `" 88 dP   Yb 88Yb88 88__   `Ybo." 
 88 Y88 Yb   dP   88   88 88""   88 Yb       dP__Yb  Yb      88 Yb   dP 88 Y88 88""   o.`Y8b 
 88  Y8  YbodP    88   88 88     88  YboodP dP""""Yb  YboodP 88  YbodP  88  Y8 888888 8bodP' 
 
*/
.notificacion {
    opacity: 0;
    padding: 1rem 3rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    transition: opacity .5s ease;
}
.visible {
    opacity: 1;
}
/*
 
  dP""b8  dP"Yb  88      dP"Yb  88""Yb 888888 .dP"Y8     8888b.  888888     88        db        88b 88  dP"Yb  888888 88 888888 88  dP""b8    db     dP""b8 88  dP"Yb  88b 88 
 dP   `" dP   Yb 88     dP   Yb 88__dP 88__   `Ybo."      8I  Yb 88__       88       dPYb       88Yb88 dP   Yb   88   88 88__   88 dP   `"   dPYb   dP   `" 88 dP   Yb 88Yb88 
 Yb      Yb   dP 88  .o Yb   dP 88"Yb  88""   o.`Y8b      8I  dY 88""       88  .o  dP__Yb      88 Y88 Yb   dP   88   88 88""   88 Yb       dP__Yb  Yb      88 Yb   dP 88 Y88 
  YboodP  YbodP  88ood8  YbodP  88  Yb 888888 8bodP'     8888Y"  888888     88ood8 dP""""Yb     88  Y8  YbodP    88   88 88     88  YboodP dP""""Yb  YboodP 88  YbodP  88  Y8 
 
*/

.correcto {
    background-color: var(--fondoCorrecto);
    color: var(--textoCorrecto);
}
.error {
    background-color: var(--fondoError);
    color: var(--textoError);
}